In [1]:
import pandas as pd
import json

In [2]:
with open('teste.json', 'r') as json_file:
    dados = json.load(json_file)

In [3]:
df = pd.json_normalize(dados)
df

         data                                          vacinacao
0  2023-10-25  [{'cidade': 'São Paulo', 'estado': 'SP', 'tota...

In [4]:
print(dados)

{'data': '2023-10-25', 'vacinacao': [{'cidade': 'São Paulo', 'estado': 'SP', 'total_vacinados': 12000000, 'doses': {'primeira_dose': 11500000, 'segunda_dose': 11000000, 'dose_unica': 200000, 'terceira_dose': 1500000}, 'vacinados_por_idade': {'18-24': 1500000, '25-34': 3000000, '35-44': 2500000, '45-54': 2000000, '55+': 3000000}}, {'cidade': 'Rio de Janeiro', 'estado': 'RJ', 'total_vacinados': 9000000, 'doses': {'primeira_dose': 8500000, 'segunda_dose': 8000000, 'dose_unica': 150000, 'terceira_dose': 1000000}, 'vacinados_por_idade': {'18-24': 1000000, '25-34': 2500000, '35-44': 2000000, '45-54': 1500000, '55+': 2000000}}]}

In [7]:
data_list = []

for vacinacao_data in dados.get('vacinacao', []):
    data = dados.get('data', '')
    cidade = vacinacao_data.get('cidade', '')
    estado = vacinacao_data.get('estado', '')
    total_vacinados = vacinacao_data.get('total_vacinados', 0)
    doses = vacinacao_data.get('doses', {})
    primeira_dose = doses.get('primeira_dose', 0)
    segunda_dose = doses.get('segunda_dose', 0)
    dose_unica = doses.get('dose_unica', 0)
    terceira_dose = doses.get('terceira_dose', 0)
    vacinados_por_idade = vacinacao_data.get('vacinados_por_idade', {})
    idade_18_24 = vacinados_por_idade.get('18-24', 0)
    idade_25_34 = vacinados_por_idade.get('25-34', 0)
    idade_35_44 = vacinados_por_idade.get('35-44', 0)
    idade_45_54 = vacinados_por_idade.get('45-54', 0)
    idade_55_plus = vacinados_por_idade.get('55+', 0)

    data_list.append({
        'data': data,
        'cidade': cidade,
        'estado': estado,
        'total_vacinados': total_vacinados,
        'primeira_dose': primeira_dose,
        'segunda_dose': segunda_dose,
        'dose_unica': dose_unica,
        'terceira_dose': terceira_dose,
        'idade_18-24': idade_18_24,
        'idade_25-34': idade_25_34,
        'idade_35-44': idade_35_44,
        'idade_45-54': idade_45_54,
        'idade_55+': idade_55_plus
    })


novo_df = pd.DataFrame(data_list)

In [8]:
novo_df

,data,cidade,estado,total_vacinados,primeira_dose,segunda_dose,dose_unica,terceira_dose,idade_18-24,idade_25-34,idade_35-44,idade_45-54,idade_55+
0,2023-10-25,São Paulo,SP,12000000,11500000,11000000,200000,1500000,1500000,3000000,2500000,2000000,3000000
1,2023-10-25,Rio de Janeiro,RJ,9000000,8500000,8000000,150000,1000000,1000000,2500000,2000000,1500000,2000000