In [1]:
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as f
from pyspark.sql.functions import explode, col

In [2]:
spark = SparkSession\
    .builder\
    .appName("TesteSpark")\
    .getOrCreate()

In [3]:
df = spark \
        .read \
        .option("multiline", "true") \
        .json('teste.json')

In [4]:
df_exploded = df.select(
    col("data"),
    explode(col("vacinacao")).alias("vacinacao")
).select(
    col("data"),
    col("vacinacao.cidade"),
    col("vacinacao.estado"),
    col("vacinacao.total_vacinados"),
    col("vacinacao.doses.*"),
    col("vacinacao.vacinados_por_idade.*")
)

In [5]:
df_exploded.show()

+----------+--------------+------+---------------+----------+-------------+------------+-------------+-------+-------+-------+-------+-------+
|      data|        cidade|estado|total_vacinados|dose_unica|primeira_dose|segunda_dose|terceira_dose|  18-24|  25-34|  35-44|  45-54|    55+|
+----------+--------------+------+---------------+----------+-------------+------------+-------------+-------+-------+-------+-------+-------+
|2023-10-25|     SÃ£o Paulo|    SP|       12000000|    200000|     11500000|    11000000|      1500000|1500000|3000000|2500000|2000000|3000000|
|2023-10-25|Rio de Janeiro|    RJ|        9000000|    150000|      8500000|     8000000|      1000000|1000000|2500000|2000000|1500000|2000000|
+----------+--------------+------+---------------+----------+-------------+------------+-------------+-------+-------+-------+-------+-------+